@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');

body{
    background-color: #008000;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    
}

#game-name{
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center;
    font-family: 'Press Start 2P';
}

#main-mole{
    margin-top: 25px;
    width: 400px;
    height: 400px;
}

.btn-light{
    background-color: indigo;
    color: hotpink;
    margin-top: 25px;
   
}


#mole{
    width: 100px;
    height: 100px;
    display: none;
    background-image: url('../images/mole_75x75.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    
}

