@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');

body{
    background-color: green;
    text-align: center;
}

#game-name{
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
    font-family: 'Press Start 2P';
}

#main-mole{
    margin-top: 25px;
    width: 400px;
    height: 400px;
}

.btn-light{
    background-color: indigo;
    color: hotpink;
    margin-top: 25px;
   
}

.game-container{
    height: 75vh;
}

.grid-row{
    height: 135px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;

}
    
.game-mole{
    background-image: url('../images/mole_75x75.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    
}

